.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.responsive-img-logo {
  height: auto;
  width: auto;
  max-height: 56px;
  max-width: 250px;
  margin-top: 10px;
  margin-bottom: -14px;
}

.responsive-img-skyline {
  max-width: 100vw;
  height: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  min-height: 36px;
}

nav .brand-logo.left {
  position: relative;
}

.btn {
  margin-top: 25px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
